/*
colors:
  #C3C8CD - lightest
  #868F98 - Medium
  #212930 - darkest
  #00344D - dark blue
  #F5FFFA - mint blue
*/

/*CSS for log in page starts here*/
#loginPage, #resetPassword {
  border: none;
}

#loginHeader, #resetHeader {
  font-family: 'Abril Fatface', cursive;
  font-size: 62pt;
  font-variant: small-caps;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
  color: #868F98;
}

#loginBox, #resetBox {
  box-sizing: border-box;
  border: 10px solid black;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 50px;
  font-family: 'Arial Narrow', 'Arial', sans-serif;
  color: #212930;
  font-size: 26pt;
  text-align: center;
}

#loginBox input[type='radio']{
  transform: scale(2);
}

#loginBox input[type='submit'], #resetBox input[type='submit'] {
  color: black;
  background-color: #868F98;
  padding: 5px 5px;
  font-size: 30px;
  margin-bottom: 15px;
  width: 45%;
  border: 2px solid black;
  margin-top: 10px;
}

#loginBox input[type='text'], #resetBox input[type='email'] {
  padding: 5px;
  margin: 10px;
  width: 30%;
  height: 40px;
  margin-right: 4px;
  font-size: 30px;
}

#resetLink:link, #loginLink:link {
  color: #00344D;
  font-size: 24pt;
}

#resetLink:visited, #loginLink:visited {
  color: #868F98;
}

#loginfooter, #resetFooter {
  box-sizing: border-box;
  padding-top: 5%;
  padding-right: 5%;
  border: none;
  background-color: white;
}

/*CSS for login page ends here*/

#pageHeader {
  font-family: 'Abril Fatface', cursive;
  font-size: 28pt;
  font-variant: small-caps;
  text-align: center;
  margin: 0px;
  margin-bottom: 0px;
  color: #868F98;
  padding-top: 10px;
}
.navigation {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: sans-serif;
  font-size: 12pt;
  box-sizing: border-box;
  margin: 0px;
  top: 0;
  padding: 10px;
  width: 100%;
  background-color: #212930;

}

.navigation a:link {
  color: #C3C8CD;
  text-decoration: none;
}

.navigation a:hover {
  color: LightBlue;
  text-decoration: underline;
}

.navigation a:visited {
  color: LightBlue;
  text-decoration: none;
}

#headerTitle {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  display:inline-block;
  padding: 20px;
}

.flexContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

#studentHomePage, .question, .answerBox, .changePwContainer,
.searchContainer, #instructorOptions,  #activateQuestions,
#directoryQuestions, #statistics {
  color: black;
  padding-top: 25px;
  box-sizing: border-box;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.question input[type="checkbox"] {
  margin-left: 10px;
}

.border {
  width: 75%;
  border-left: 1px solid #C3C8CD;
  border-right: 1px solid #C3C8CD;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.question, .answer, .searchContainer, #instructorOptions, #directoryQuestions,
#activateQuestions, #statistics {
  text-align: left;
  padding-bottom: 35px;
}

.searchContainer {
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 32%;
}

#reviewSearch {
  padding-bottom: 25%;
}

.pwBox {
  text-align: left;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
}

.pwBox label {
  margin-left: 15px;
}

.pwBox input[type='text'] {
  margin-left: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}

#q2, .answerBox, #activateQuestions, #example, #directoryQuestions,
#statistics, #studentHomePage {
  padding-bottom: 25%;
}

.confirm  {
  padding-bottom: 33%;
}

#q1 {
  padding-bottom: 10%;
}

input[type='submit'], button {
  padding: 5px;
  margin-bottom: 25px;
  margin-top: 15px;
  background-color: #212930;
  color: white;
  border: 1px solid black;
}

button {
  margin-bottom: 0px;
}

input[type='text']{
  width: 35%;
  padding: 5px;
  margin-top: 5px;
}

.centered {
  text-align: center;
}

.footer {
  background-color: black;
  color: white;
  text-align: right;
  box-sizing: border-box;
  margin: 0px;
  height: 15%;
  padding: 15px;
}

.footer a {
  text-decoration: none;
}

.questionNumbers {
  display: inline;
}

#searchOptions, #keyword {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

#keyword {
  padding-bottom: 10px;
  justify-content: space-between;
}

#keyword input[type='text'], #keyword input[type='submit']{
  margin: 0px;
  box-sizing: border-box;
}

#keyword input[type='text']{
  width: 75%;
}

.options {
  width: 20%;
}

#searchButton {
  width: 25%;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#keywordSearch  {
  margin: 20px;
  margin-left: auto;
  margin-right: 5px;
  box-sizing: border-box;
}

#keywordButton {
  padding-left: 10px;
  padding-right: 10px;
}

.homeOptions {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0px;
  padding-bottom: 30%;
}

#activateQuestions p, #directoryQuestions p {
  box-sizing: border-box;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#home, #nextQuestion {
  font-weight: bold;
}

.timer {
  align-self: flex-end;
  padding-bottom: 12%;
}

.questionText {
  width: 100%;
  box-sizing: border-box;
  height: 500px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
}

#errorMessage {
  display: none;
}

/*styling that is used across all pages*/

body {
  margin: 0px;
  font-family: 'Arial', sans-serif;
  font-size: 12pt;
  border: 5px solid black;
}

#mainU, #mainW, #mainC {
  color: gold;
}

#mainO {
  color: black;
}

.bold {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

a:link {
  color: #00344D;
}

a:visited {
  color: #212930;
}

select {
  margin: 10px;
  margin-left: 0px;
  width: 50%;
  padding: 10px;
}
